.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-books {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;

    &__book {
        width: 100px;

        img {
            width: 100%;
        }
    }
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    &__book {
        width: 100px;
        img {
            width: 100%;
        }
    }
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    height: 100px;

    &__results {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        background-color: white;
        padding: 0 10px;
        border: 1px solid black;
        width: 100%;
        max-width: 600px;
    }

    input {
        width: 100%;
        max-width: 620px;
    }

    a {
        padding: 5px;
    }
}
